# Import Packages

In [ ]:
import numpy as np
import re
import pandas as pd
import os
import glob

# Load Dataframe

## Random sequences

In [ ]:
# load, delete first column and sort based on ID
rand_df = pd.read_csv("/home/defense/shokor/mapping2/data/random.csv").iloc[: , 1:]

In [ ]:
rand_df

,ID,Gene,Sequence,Description,Organism,Types
0,seq2901,None,P G I P M D Y L P A P T Y S P R N C P A H E S ...,None,None,Random
1,seq2902,None,V D N G Q V K S I C S Q V I M V L D N Q K R L ...,None,None,Random
2,seq2903,None,F P I G F R T Y S I M Y T Y T S I R H G C R I ...,None,None,Random
3,seq2904,None,A C E E Q S T W L D E L K F I S C V F F N P I ...,None,None,Random
4,seq2905,None,Y D H M M I H E A I P A F K S C R R H H V A G ...,None,None,Random
...,...,...,...,...,...,...
49988,seq38996,None,V M N H Q Q Q P A I C I N D L T Q V V F R T D ...,None,None,Random
49989,seq38997,None,H C E N H I C G G L I S T G M A M P L Q D L Q ...,None,None,Random
49990,seq38998,None,G E S F H M D V G R H R H W S Y P L M H C P A ...,None,None,Random
49991,seq38999,None,N G L C Y L K Q C R L D H I M K K I P C W P R ...,None,None,Random
49992,seq39000,None,L W A K E K T L Q P H P H R A C I Q N V H Y R ...,None,None,Random

In [6]:
# rand_sequence_list = rand_df['Sequence'].to_list()

In [7]:
## Check the max length = 511 (256 aa)
# length = []
# for s in rand_sequence_list:
#     length.append(len(s))

In [8]:
# max(length)

511

## Mutated sequences

In [4]:
# load, delete first column and sort based on ID
mut_df = pd.read_csv('/home/defense/shokor/mapping2/data/mutate.csv').iloc[: , 1:].sort_values(by=['ID'])

In [5]:
mut_df

,ID,Gene,Sequence,Description,Organism,Types
111,A0A072TZL3 mutate_10,None,M S R T S T L L Y Y I M A F C S I I L I D G A ...,None,None,mutate_10
1157,A0A072TZL3 mutate_20,None,M S R T S I L L Y Y R T A F C N I I L I D G A ...,None,None,mutate_20
2203,A0A072TZL3 mutate_30,None,M S R T C T L L S A L V A F M E H I S M L G A ...,None,None,mutate_30
3249,A0A072TZL3 mutate_40,None,W S I T S T T L A Y L V K C C C G I L L P G A ...,None,None,mutate_40
4295,A0A072TZL3 mutate_50,None,K S R T I T L H Y Y L L A F C S A Y W S D G A ...,None,None,mutate_50
...,...,...,...,...,...,...
6411,U3FAE1 mutate_70,None,M W C W G L T L E V V M M V C L Q L G N N E W ...,None,None,mutate_70
7457,U3FAE1 mutate_80,None,F V T L V M H D V E M T H V C L D H H R W F H ...,None,None,mutate_80
8503,U3FAE1 mutate_90,None,K K H L L L F H N V W Y P V C F D L H N M E K ...,None,None,mutate_90
9549,U3FAE1 mutate_95,None,W P H Q K L T K V F Y I L V P L C L G N S F I ...,None,None,mutate_95
10595,U3FAE1 mutate_99,None,H K T G H L D I C M I E G P P L V D G W D L V ...,None,None,mutate_99

## Blosum62 Mutate sequence

In [6]:
# load, delete first column and sort based on ID
blos_df = pd.read_csv('/home/defense/shokor/mapping2/data/blosum_mutate.csv').iloc[: , 1:].sort_values(by=['ID'])

In [7]:
blos_df

,ID,Gene,Sequence,Description,Organism,Types
75,A0A0N7CSQ4 blosum_mutate_10,None,M L K S F C I L S V F M V L F L A K F P D L C ...,None,None,blosum_mutate_10
482,A0A0N7CSQ4 blosum_mutate_20,None,M L K S F C I L S V F M V L F L A K F P D L C ...,None,None,blosum_mutate_20
889,A0A0N7CSQ4 blosum_mutate_30,None,M L K S F C I I S V F M V L F L A K F P D L C ...,None,None,blosum_mutate_30
1296,A0A0N7CSQ4 blosum_mutate_40,None,M L K S F C I L S V F M V L F L A K F P D L C ...,None,None,blosum_mutate_40
1703,A0A0N7CSQ4 blosum_mutate_50,None,M L K S F C I L S V F M V L F L A K F P D L C ...,None,None,blosum_mutate_50
...,...,...,...,...,...,...
2803,U3FAE1 blosum_mutate_70,None,M K T L L L T L V V V T I V C L D L G N S L K ...,None,None,blosum_mutate_70
3210,U3FAE1 blosum_mutate_80,None,M K T L L L T L V V V T I V C L D L G N S L K ...,None,None,blosum_mutate_80
3617,U3FAE1 blosum_mutate_90,None,M K T L L L T L V I I T I V C L D L G N S L K ...,None,None,blosum_mutate_90
4024,U3FAE1 blosum_mutate_95,None,M K T L L L T L V V V T I V C L D L G N S L K ...,None,None,blosum_mutate_95
4431,U3FAE1 blosum_mutate_99,None,M K T L L L T L V V V T I V C L D L G N S L K ...,None,None,blosum_mutate_99

## Expected sequences

In [8]:
# load and delete first column
exp_df = pd.read_csv('/home/defense/shokor/mapping2/data/expected.csv').iloc[: , 1:]

In [9]:
exp_df

,ID,Gene,Sequence,Description,Organism,Types
0,expected_seq1,None,V V H V D L R Y Q R W S F R F L Y S E R P N V ...,None,None,Expected
1,expected_seq2,None,Q E V G F E E A L P V T S I R I F Q G V R N F ...,None,None,Expected
2,expected_seq3,None,E K E H K G L Y T G L L F M P K A L K V S A L ...,None,None,Expected
3,expected_seq4,None,P I P M V I D G I H V A P A T D L D K R T N P ...,None,None,Expected
4,expected_seq5,None,A P R Q Q E I Q N L S L G S C T Q R V E G L T ...,None,None,Expected
...,...,...,...,...,...,...
49991,expected_seq49996,None,N D I F H L D F D T R R D K P P E R S R C D S ...,None,None,Expected
49992,expected_seq49997,None,S F D G L A A L T A F L I R S G N D L L I D K ...,None,None,Expected
49993,expected_seq49998,None,K Q V E G S T S I A L R V V T K M D C E D E K ...,None,None,Expected
49994,expected_seq49999,None,E E T T D V V L Y E G L T R T Q E L V D V Y G ...,None,None,Expected
49995,expected_seq50000,None,R C F A T K V C G L R G T T G R S T C A E A I ...,None,None,Expected

## Real sequences

In [32]:
# load and delete first column for the first 500000 sequence
real_df = pd.read_csv("/home/defense/shokor/mapping2/data/real_df.csv").iloc[: , 1:][:50000]

In [11]:
real_df

,ID,Gene,Sequence,Description,Organism,Types
0,A0A1Q6BRU5,AUO95_00920,M A K I T V F S P V K N F S G V S V G I T F S ...,Uncharacterized protein,Corynebacterium glutamicum,Real
1,A0A0A9U2E6,SAMN06296036_10138,M L D A L S I F S K V S L G L V V V R E P L G ...,Uncharacterized protein,Arundo donax,Real
2,A0A094PJX3,CL693_16430,M S S A R R T L E G V D N G I W P A F P V T R ...,Uncharacterized protein,Amycolatopsis sp. MJM2582,Real
3,A0A0P6A7Z7,LR48_Vigan04g171000,M S P M C T S L C V R I S S T F A F P L A S S ...,Uncharacterized protein,Daphnia magna,Real
4,A0A2E2XLC2,DLM60_08525,S K L C F D N V E N H P L L G T I Q K N Q L I ...,Uncharacterized protein Fragment,Cellvibrionaceae bacterium,Real
...,...,...,...,...,...,...
49995,A0A0V1CXG2,BWK73_23635,M V S D S Y Y N A I T N S E R R A L A L Y I T ...,Uncharacterized protein,Trichinella britovi,Real
49996,A0A2L2X9E7,LOC101317402,M S R L D D N F R Q G Q V D F L G I T E E E I ...,Methyl accepting chemotaxis sensory transducer,Desulfocucumis palustris,Real
49997,A0A1Q8A388,ORF55219,M E Q S I P I S S A R F Q H R D L A I L V G I ...,Uncharacterized protein,archaeon 13_1_20CM_2_54_9,Real
49998,S7PHL6,IAPP,M E W Q V D Y W T T A Q L T D R K R N S K K K ...,Phosphofurin acidic cluster sorting protein 2,Myotis brandtii,Real
49999,A5ZG22,CmeUKMEL1_07685,M L C L E G F G I A V F I N V I M I I Y K M L ...,Uncharacterized protein,Bacteroides caccae ATCC 43185,Real

In [37]:
# save new dataframe
real_df.to_csv('/home/defense/shokor/mapping2/data/50000_real_df.csv')

In [10]:
# load dataframe
real_df = pd.read_csv("/home/defense/shokor/mapping2/data/50000_real_df.csv").iloc[: , 1:]

# Split Data

In [12]:
def split_dataframe(df, chunk_size): 
    

    ''' 
    Split DataFrame into chunks

    input: 
        - Dataframe 
        - nb of sequecnes in each chunk

    output: 
        - Liste of list of chunks 
        - with a length = length of dataframe / chunk size
    '''

    chunks = []

    num_chunks = len(df) // chunk_size + 1
    print("Number of chunks:", num_chunks)

    for i in range(num_chunks):
          chunks.append(df[i*chunk_size:(i+1)*chunk_size])

    return chunks

In [13]:
rand_chunks = split_dataframe(rand_df, chunk_size = 15)
len(rand_chunks)

Number of chunks: 3333

3333

In [14]:
mut_chunks = split_dataframe(mut_df, chunk_size = 15)

Number of chunks: 768

In [15]:
blos_chunks = split_dataframe(blos_df, chunk_size = 15)

Number of chunks: 299

In [16]:
exp_chunks = split_dataframe(exp_df, chunk_size = 15)

Number of chunks: 3334

In [17]:
real_chunks = split_dataframe(real_df, chunk_size = 15)

Number of chunks: 3334

# Embeddings

In [5]:
!pip install -q transformers

In [2]:
from transformers import TFBertModel, BertTokenizer,BertConfig

ModuleNotFoundError: No module named 'transformers'

In [7]:
tokenizer = BertTokenizer.from_pretrained("Rostlab/prot_bert", do_lower_case=False )

In [8]:
model = TFBertModel.from_pretrained("Rostlab/prot_bert", from_pt=True)

2021-12-22 09:25:34.091714: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcuda.so.1
2021-12-22 09:25:34.197176: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1733] Found device 0 with properties:
pciBusID: 0000:93:00.0 name: NVIDIA GeForce RTX 2070 computeCapability: 7.5
coreClock: 1.62GHz coreCount: 36 deviceMemorySize: 7.79GiB deviceMemoryBandwidth: 417.29GiB/s
2021-12-22 09:25:34.198190: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1733] Found device 1 with properties:
pciBusID: 0000:d5:00.0 name: Quadro P400 computeCapability: 6.1
coreClock: 1.2525GHz coreCount: 2 deviceMemorySize: 1.94GiB deviceMemoryBandwidth: 29.88GiB/s
2021-12-22 09:25:34.198249: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.11.0
2021-12-22 09:25:34.198343: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcublas.so.11
2021-12-22 09:25:34.198403: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcublasLt.so.11
2021-12-22 09:25:34.198495: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcufft.so.10
2021-12-22 09:25:34.198549: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcurand.so.10
2021-12-22 09:25:34.198669: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcusolver.so.11
2021-12-22 09:25:34.198732: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcusparse.so.11
2021-12-22 09:25:34.201403: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudnn.so.8
2021-12-22 09:25:34.209826: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1856] Ignoring visible gpu device (device: 1, name: Quadro P400, pci bus id: 0000:d5:00.0, compute capability: 6.1) with core count: 2. The minimum required count is 8. You can adjust this requirement with the env var TF_MIN_GPU_MULTIPROCESSOR_COUNT.
2021-12-22 09:25:34.209868: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1871] Adding visible gpu devices: 0
2021-12-22 09:25:34.216779: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2021-12-22 09:25:34.222031: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1733] Found device 0 with properties:
pciBusID: 0000:93:00.0 name: NVIDIA GeForce RTX 2070 computeCapability: 7.5
coreClock: 1.62GHz coreCount: 36 deviceMemorySize: 7.79GiB deviceMemoryBandwidth: 417.29GiB/s
2021-12-22 09:25:34.224135: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1871] Adding visible gpu devices: 0
2021-12-22 09:25:41.401933: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1258] Device interconnect StreamExecutor with strength 1 edge matrix:
2021-12-22 09:25:41.401978: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1264]      0
2021-12-22 09:25:41.401985: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1277] 0:   N
2021-12-22 09:25:41.403856: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1418] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 5639 MB memory) -> physical GPU (device: 0, name: NVIDIA GeForce RTX 2070, pci bus id: 0000:93:00.0, compute capability: 7.5)
Some weights of the PyTorch model were not used when initializing the TF 2.0 model TFBertModel: ['cls.predictions.transform.LayerNorm.bias', 'cls.predictions.decoder.bias', 'cls.predictions.bias', 'cls.seq_relationship.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.seq_relationship.weight']
- This IS expected if you are initializing TFBertModel from a PyTorch model trained on another task or with another architecture (e.g. initializing a TFBertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFBertModel from a PyTorch model that you expect to be exactly identical (e.g. initializing a TFBertForSequenceClassification model from a BertForSequenceClassification model).
All the weights of TFBertModel were initialized from the PyTorch model.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertModel for predictions without further training.

In [9]:
def embdBert(seq_list):
    '''
    Embeddings af a given list of sequence 
    
    input:
        - Sequence list
    
    output:
        - Array of embeddings shape: (nb of sequence, max sequence length, 1024)
        - Attetion mask
    
    '''

    #Transform amino acid to index
    ids = tokenizer.batch_encode_plus(seq_list, add_special_tokens=True, padding=True, return_tensors="tf")  
    input_ids = ids['input_ids'] 
    attention_mask = ids['attention_mask']

    
    #Transform index to vectors of 1024 value
    embedding = model(input_ids)[0]
    embedding = np.asarray(embedding)
    
    return embedding, attention_mask

In [10]:
def save_embeddings(seq_type, idx, embedding):
    '''
    Save embeddings array 
    
    input:
        - sequence type: Random, Expected, Mutated, Blosum and Real
        - chunks index
        - embeddings array 
        
    output:
        - .npy file format
    '''
    
    dir_name = "/dsimb/glaciere/gelly/PROJECT_MAPPING/output/{}".format(seq_type)
    save_path = os.path.join(dir_name,'{}_{:04d}.npy'.format(seq_type, idx))
    np.save(save_path, embedding)

In [11]:
def EmbedMasking(attention_mask, embedding):
    '''
    Apply attention mask to embeddings
    
    input:
        - list of attention mask
        - embeddings array 
        
    output:
        - list of array of embeddings with different max sequence length 
    '''
    features = [] 
    
    attention_mask = np.asarray(attention_mask)

    for seq_num in range(len(embedding)):
        seq_len = (attention_mask[seq_num] == 1).sum()
        seq_emd = embedding[seq_num][1:seq_len-1]
        features.append(seq_emd)         
    
    return features

In [12]:
def padding(sequence_list):
    '''
    Embeddings array padding to a length = 256
    
    input:
        - list of array of embeddings with different max sequence length 
    
    output:
        - Array of embeddings shape: (nb of sequence, max sequence length, 1024) paded with zero
    '''

    #save the lengths of sequences
    length = []
    for s in sequence_list:
        length.append(len(s))

    #pad encoded sequence
    pad_seq = []
    for s in sequence_list:
        x = np.zeros((256-len(s), 1024))
        v = np.concatenate((s, x), axis = 0)
        pad_seq.append(v)

    # from list of array to array 
    encoded_seq = np.stack(pad_seq, axis = 0)           
    
    return encoded_seq

In [21]:
 # os.mkdir('/dsimb/glaciere/gelly/PROJECT_MAPPING/output/')

In [13]:
def get_embeddings(df, seq_type):
    ''' 
     Get the embeddings af a given list of sequence 
     
     input:
         - dataframe 
         - sequence type
         
     output:
         - folder with .npy files of embeddings array  
    '''
   
    embd_seq = []
    mean_list = []
    mean_seq = []
    os.mkdir('/dsimb/glaciere/gelly/PROJECT_MAPPING/output/{}'.format(seq_type))
    chunks = split_dataframe(df, chunk_size = 15)
    for idx, chunk in enumerate(chunks): 

        # create list of sequence
        seq_list = chunk['Sequence'].to_list()

        # Word embedding 
        embedding, attention_mask = embdBert(seq_list)
        
        # Apply mask
        features = EmbedMasking(attention_mask, embedding)

        # sequence padding 
        pad_features = padding(features)

        # Save embeddings 
        #idx = 999+idx
        save_embeddings(seq_type, idx, pad_features)

        #print(pad_features.shape)

In [24]:
mean_all = get_embeddings(rand_df, 'random')

Number of chunks: 3333

In [14]:
# Mutated sequences
mutate_embd = get_embeddings(mut_df, 'mutate')

Number of chunks: 768

In [ ]:
# Mutated sequences
blos_embd = get_embeddings(blos_df, 'blosum_mutate')

In [31]:
# Expected sequences
expectes_embd = get_embeddings(exp_df, 'expected')

Number of chunks: 3334

In [38]:
# Real sequences
real_embd = get_embeddings(real_df, 'real')

Number of chunks: 3334

In [23]:
# test
test = np.load('/dsimb/glaciere/gelly/PROJECT_MAPPING/output/mutate/mutate_0000.npy')
test.shape

(15, 256, 1024)

In [24]:
test

array([[[-0.01165971,  0.09751973, -0.10460878, ...,  0.06204785,
          0.08363772, -0.11316578],
        [ 0.01970986,  0.0808828 , -0.03820451, ..., -0.05717612,
          0.11885154,  0.02825323],
        [-0.01977147,  0.09996937, -0.10996159, ...,  0.05089093,
          0.10187107,  0.10227456],
        ...,
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ]],

       [[-0.06353782,  0.2137934 , -0.0454431 , ...,  0.0112277 ,
         -0.01403923,  0.02387726],
        [-0.16301735,  0.07290937, -0.02311531, ...,  0.00523375,
          0.07633299,  0.10076424],
        [-0.13229325,  0.09764743, -0.14178208, ..., -0.00963395,
          0.07386518,  0.08281527],
        ...,
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ]],

       [[ 0.01348687,  0.07310002,  0.11473301, ..., -0.14652774,
         -0.01566621, -0.13860078],
        [ 0.18168347,  0.17215672, -0.1427888 , ..., -0.36145604,
         -0.09197403,  0.04807647],
        [ 0.12439093,  0.15588373, -0.04235266, ..., -0.17997505,
         -0.09781688, -0.01379307],
        ...,
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ]],

       ...,

       [[ 0.04987352,  0.12593028,  0.17018014, ..., -0.02441403,
         -0.01242649, -0.10654009],
        [ 0.0829537 , -0.02914718,  0.0988413 , ..., -0.13579515,
         -0.0958166 ,  0.13361889],
        [-0.00924431, -0.0294981 ,  0.06148761, ..., -0.06958614,
          0.0078491 ,  0.0987394 ],
        ...,
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ]],

       [[-0.00639094,  0.03822003,  0.02708914, ..., -0.01394654,
         -0.04845937, -0.18394259],
        [ 0.0943463 , -0.14658618,  0.0680802 , ..., -0.08333288,
         -0.23130974,  0.03639992],
        [-0.00374683,  0.05241098,  0.02162119, ..., -0.06269691,
         -0.20134366, -0.12168423],
        ...,
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ]],

       [[ 0.08519472,  0.03929064,  0.05703249, ..., -0.16892152,
         -0.03843184, -0.06396621],
        [ 0.0648967 , -0.00802803,  0.06895082, ..., -0.12477732,
          0.03706429,  0.07017078],
        [ 0.04233832,  0.00491944,  0.12932877, ..., -0.09152725,
          0.07474308,  0.08532131],
        ...,
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        , ...,  0.        ,
          0.        ,  0.        ]]])